

body {
  background-color: black;
  font-family: helvetica, sans-serif;
  width: 350px;
}

div {
  padding-bottom: 20px;
}

/*フォーム*/
.horror label{
  color:rgb(197, 2, 2);
}

label {
  font-weight: bold;  
}

input[type="text"] {
  padding: 5px;
  width: 150px;
}

/*表示*/
p {
  width: 640px;
  background: black;
  color: whitesmoke;
  padding: 10px;
  visibility: hidden;
}
